@import '/src/styles/typography.scss';

.transactions-container {
  padding: 40px 90px;

  background-color: white;
  border-radius: 30px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    @include railway-bold;
    font-size: 32px;
    color: #372850;
  }

  &__add-button {
    @include railway-bold;
    padding: 14px 42px;
    background-color: #f3e4ff;

    border: none;
    border-radius: 15px;
    font-size: 18px;

    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: #c2a2db;
      ;
    }
  }
}

