.modal-window {
  &__page-background {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
  }

  &__container {
    width: 800px;
    height: 550px;

    padding: 60px;

    background-color: white;
    border-radius: 20px;
  }
}